.searchResults {
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.searchResultsContainer {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}
