.cover {
  height: 200px;

  background: no-repeat
    url("https://images.unsplash.com/photo-1533669955142-6a73332af4db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1574&q=80");
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.textContainer {
  color: rgb(24, 13, 13);
  font-weight: 700;
  z-index: 2;
}

.textContainer cite {
  font-size: 12px;
  padding-left: 45px;
}

@media screen and (min-width: 1024px) {
  .cover {
    height: 400px;
  }

  .textContainer {
    font-size: 30px;
    font-weight: 700;
  }
  .textContainer cite {
    font-size: 20px;
    padding-left: 100px;
  }
}
