.cover {
  position: relative;
  background-color: rgb(236, 198, 198);
}
.imgContainer {
  height: 200px;
  z-index: 1;
}
.img {
  height: 100%;
  width: 100%;
  opacity: 0.6;
  z-index: 1;
}

.textContainer {
  position: absolute;
  top: 60px;
  left: 90px;
  color: rgb(65, 34, 34);
  font-weight: 500;
}
.textContainer cite {
  font-size: 12px;
  padding-left: 35px;
}
.search {
  z-index: 2;
}
@media screen and (min-width: 1024px) {
  .imgContainer {
    height: 400px;
    width: 100%;
  }
  .img {
    width: 100%;
    object-fit: cover;
  }
  .textContainer {
    top: 100px;
    left: 750px;

    font-size: 30px;
    font-weight: 700;
  }
  .textContainer cite {
    font-size: 20px;
    padding-left: 100px;
  }
}
