.cover {
  position: relative;
  background-color: rgb(236, 198, 198);
}
.imgContainer {
  height: 250px;
}
.img {
  height: 100%;
  opacity: 0.75;
}
.searchContainer {
  position: absolute;
  top: 170px;
  right: 75px;
}
@media screen and (min-width: 1024px) {
  .imgContainer {
    height: 400px;
    width: 100%;
  }
  .img {
    width: 100%;
    object-fit: cover;
  }
  .searchContainer {
    top: 260px;
    right: 600px;
  }
  .searchBar {
    width: 550px;
    height: 35px;
  }
  .searchBtn {
    height: 34px;
  }
}
