.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}
.bookDetailPage {
  display: flex;
  width: 300px;

  flex-direction: column-reverse;
  border-radius: 25px;
  padding: 50px 20px;
  box-shadow: 5px 10px 8px #888888;
}
.leftContainer {
  flex: 0.5;
  font-family: "Roboto", sans-serif;
}
.title {
  font-size: 24px;
  position: relative;
}
.title::after {
  content: "";
  width: 60px;
  height: 2px;
  background-color: black;
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 25px;
}

.subTitle {
  font-size: 16px;
}
.description {
  padding-top: 35px;
  font-size: 18px;
}
.description b {
  font-size: 20px;
  display: block;
}
.otherDetails {
  font-size: 18px;
  padding-top: 35px;
}
.rightContainer {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.skeleton {
  background-color: #e2e8f0;
  position: relative;
  z-index: 9999;
  box-shadow: none;
  overflow: hidden;
}
.skeleton::before {
  background: #e2e8f0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content-visibility: hidden;
  z-index: 5000;
}
.skeleton::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translate(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 100%,
    rgba(255, 255, 255, 0.5) 100%,
    rgba(255, 255, 255, 0) 0
  );
  content: "";
  z-index: 5001;
  animation: shimmer 3s infinite;
}
@keyframes shimmer {
  100% {
    transform: translate(100%);
  }
}

@media screen and (min-width: 1024px) {
  .bookDetailPage {
    width: 1200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgb(218, 206, 206);
    padding: 50px 50px;

    gap: 50px;
  }
  .leftContainer {
    flex: 0.6;
  }
  .title {
    font-size: 35px;
  }
  .title::after {
    background-color: white;
  }
  .subTitle {
    font-size: 20px;
  }
  .description {
    font-size: 24px;
  }
  .description b {
    font-size: 26px;
  }
  .otherDetails {
    font-size: 20px;
  }

  .bookCover {
    width: 250px;
    position: relative;
  }
}
