.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 20px;
  background-color: transparent;
}
.accountsContainer {
  color: rgb(196, 48, 107);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  font-size: 14px;
}

.accountsContainer a {
  padding-left: 8px;
  text-decoration: none;
  color: rgb(196, 48, 107);
  font-size: 16px;
}
.navLinkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
}
