.header {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  height: auto;
  padding: 0 20px;
  position: relative;
}
.accountsContainer {
  color: rgb(196, 48, 107);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  font-size: 14px;
}
.navLinkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
}
.hamburgerMenu {
  background-color: black;
  height: 100px;
  width: 50px;
}
.accountsContainer a {
  padding-left: 8px;
  text-decoration: none;
  color: rgb(196, 48, 107);
  font-size: 16px;
}

.hamburger {
  display: block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 1024px) {
  .header {
    height: 60px;
  }
  .hamburger {
    display: none;
    cursor: pointer;
  }
}
