.header {
  display: flex;
  height: 40px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  box-shadow: 5px 10px 8px #888888;
  padding: 0px 20px;
  background: white;
}
.accountsContainer {
  color: rgb(196, 48, 107);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  font-size: 14px;
  display: none;
}
.navLinkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
}
.navLinkContainerMobile {
  display: flex;
}
.accountsContainer a {
  padding-left: 8px;
  text-decoration: none;
  color: rgb(196, 48, 107);
  font-size: 16px;
}

@media screen and (min-width: 1024px) {
  .header {
    height: 60px;
  }

  .logo {
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Poppins", sans-serif;
  }

  .name {
    font-size: 20px;
    padding: 10px;
  }
  .name span {
    color: rgb(196, 48, 107);
  }
  .hamburgerIcon {
    display: none;
  }
  .accountsContainer {
    display: block;
  }
}
